<div id="custom-search-input">
  <div class="input-group col-md-12">
    <%= text_field_tag :q, params[:q], placeholder: t("q_holder"),
       class: "form-control input-lg" %>
    <span class="input-group-btn">
      <%= button_tag class: "btn btn-info btn-lg" do %>
        <i class="glyphicon glyphicon-search"></i>
      <% end %>
    </span>
  </div>
</div>
