<li id="lesson-<%= lesson.id %>">
  <span><%= t ".lesson" + lesson.id.to_s %></span>
  <span><%= link_to t(".test"), test_category_lesson_path(lesson.category, lesson) %></span>
  <span><%= link_to t(".result"), result_category_lesson_path(lesson.category, lesson) %></span>
</li>
