<li>
  <a href="javascript:void(0);">
    <i class="fa fa-list-alt"></i>
    <%= t ".lesson" %> <%= lesson.id.to_s %>
    <span class="fa arrow"></span>
  </a>
  <ul class="nav nav-second-level collapse" aria-expanded="false">
    <% if lesson.is_finished %>
      <li>
        <%= link_to t(".result"), result_category_lesson_path(lesson.category, lesson) %>
      </li>
    <% else %>
      <li>
        <%= link_to t(".test"), test_category_lesson_path(lesson.category, lesson) %>
      </li>
    <% end %>
  </ul>
</li>
